.ReusablesPopCardConstructionContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PopCardConstructionBtnWindow {
  color: black;
  width: 100%;
  max-width: 400px;
  margin: 1rem;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.WindowFullScreen {
  height: 100vh;
  width: 90vw;
  max-width: none;
}
