.NavbarContainer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderTitle {
  font-size: calc(0.6rem + 1vh);
  font-weight: 600;
}

.NavbarActions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.NavbarActions button {
  font-size: calc(0.3rem + 1vh);
  font-weight: 600;
}
