.SectionContactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 1rem;
}

.ContactImage {
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ContactImagePenguin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ContactDetails {
  grid-column: 1 / span 5;

  font-family: "Pixelated MS Sans Serif";
}

.ChatTitle {
  font-size: calc(0.5rem + 1vh);
}
.ChatJacob {
  color: blue;
}

.ContactInputSection {
  display: flex;
  margin: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}
.ContactInputMessage {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .ContactImage {
    grid-column: 1 / span 2;
  }
  .ContactDetails {
    grid-column: 3 / span 5;
  }
}
